body {
  background-color: #2c3e50;
  font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
  margin: 30px auto;
  display: flex;
  align-items: center;
  max-width: 600px;
  flex-direction: column;
}

#timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.timer-container {
  display: flex;
  flex-direction: row-reverse;;
  justify-content: center;
  align-items: center;
  height: 190px;
  gap: 2rem;
}

#timer {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0 0 10px rgb(255 0 0);
}

#action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#start,
#stop {
  margin: 0 10px;
  margin-top: 20px;
}

#start {
  background-color: #1d643b;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

#start:hover {
  background-color: #2ecc71;
}

#stop {
  background-color: #741f16;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

#stop:hover {
  background-color: #c0392b;
}

#pomodoro,
#short-break,
#long-break {
  background-color: #2d3741;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease-in-out;
}

#pomodoro:hover,
#short-break:hover,
#long-break:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; /* Добавляем новый отступ снизу */
}

.progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}


.progress-bar::before {
  content: attr(data-timer) ;
  counter-reset: percentage var(--progress-value);
}

@keyframes html-progress {
  to { --progress-value: 100; }
}

.html {
  background: 
    radial-gradient(closest-side, #2c3e50 79%, transparent 80% 100%),
    conic-gradient(#c0392b calc(var(--progress-value) * 1%), #741f16 calc(var(--progress-value) * 1%));
  animation: html-progress 1500s linear forwards;
  animation-play-state: paused;
}


.html::before {
  animation: html-progress 1s 1 forwards;
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}




  /* @property --progress-value {
    syntax: '<integer>';
    inherits: false;
    initial-value: 0;
  } */
/* .html {
  --animation-duration: 15s;
  --conic-gradient-value: 0deg;
  
  background: 
    radial-gradient(closest-side, #2c3e50 79%, transparent 80% 100%),
    conic-gradient(#c0392b var(--conic-gradient-value), #741f16 var(--conic-gradient-value));
  animation: html-progress var(--animation-duration) linear forwards;
  animation-play-state: paused;
} */





/* @property --current-timer {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
} */




/* .html {
  --animation-duration: 15s;
  
  background: 
    radial-gradient(closest-side, #2c3e50 79%, transparent 80% 100%),
     conic-gradient(#c0392b calc(var(--progress-value) * 1%), #741f16 calc(var(--progress-value) * 1%));
  animation: html-progress var(--animation-duration) linear forwards;
  animation-play-state: paused;
} */





/* #progress-bar-output{
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0 0 10px rgb(255 0 0);
} */

/* animation: html-progress var(--current-timer)s linear forwards; */





/* .html {
  background: 
    radial-gradient(closest-side, #2c3e50 79%, transparent 80% 100%),
    conic-gradient(#c0392b calc(var(--progress-value) * 1%), #741f16 calc(var(--progress-value) * 1%));
  animation-play-state: paused;
}

.html[data-timer="pomodoro"] {
  animation-duration: 1500s;
}

.html[data-timer="short-break"] {
  animation-duration: 300s;
}

.html[data-timer="long-break"] {
  animation-duration: 900s;
} */

/* .html {
  --animation-duration: 15s;
  
  background: 
    radial-gradient(closest-side, #2c3e50 79%, transparent 80% 100%),
     conic-gradient(#c0392b calc(var(--progress-value) * 1%), #741f16 calc(var(--progress-value) * 1%));
  animation: html-progress var(--animation-duration) linear forwards;
  animation-play-state: paused;
} */
